name: 'Split Packages'

on:
  push:
    branches:
      - main
      - '*.x'
    tags:
      - 'v*'

jobs:
  split:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        package:
          - { src: 'Apple', repo: 'apple-colors' }
          - { src: 'Bootstrap', repo: 'bootstrap-colors' }
          - { src: 'Dracula', repo: 'dracula-colors' }
          - { src: 'Material', repo: 'material-colors' }
          - { src: 'Nord', repo: 'nord-colors' }
          - { src: 'OpenColor', repo: 'open-color' }
          - { src: 'Pico', repo: 'pico-colors' }
          - { src: 'Primer', repo: 'primer-colors' }
          - { src: 'Tailwind', repo: 'tailwind-colors' }

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Split package ${{ matrix.package.src }}
        uses: "claudiodekker/splitsh-action@v1.0.0"
        env:
          GITHUB_TOKEN: ${{ secrets.COLORS_SPLIT_PERSONAL_ACCESS_TOKEN }}
        with:
          prefix: "src/${{ matrix.package.src }}"
          remote: "https://github.com/phpcolor/${{ matrix.package.repo }}.git"
          reference: "${{ github.ref_name }}"
          as_tag: "${{ startsWith(github.ref, 'refs/tags/') }}"
